body { background: #6260ef; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 57px; display: flex; }
.block-metrics-0 { color: #381856; font-size: 13px; margin-bottom: 5px; }
.block-order-1 { color: #1e46a6; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #b9164; font-size: 13px; margin-bottom: 5px; }
.block-auth-3 { color: #8ce9e2; font-size: 14px; margin-bottom: 5px; }
.block-cart-4 { color: #dfbea6; font-size: 12px; margin-bottom: 5px; }
.block-metrics-5 { color: #8f71fd; font-size: 13px; margin-bottom: 5px; }
.block-email-6 { color: #444b8d; font-size: 19px; margin-bottom: 5px; }
.block-order-7 { color: #893817; font-size: 13px; margin-bottom: 5px; }
.block-metrics-8 { color: #a2b977; font-size: 20px; margin-bottom: 5px; }